Source: msr-tools
Section: admin
Priority: optional
Maintainer: Andres Salomon <dilinger@debian.org>
Build-Depends: debhelper (>= 9.0~)
Standards-Version: 4.2.1.5
Homepage: https://github.com/01org/msr-tools

Package: msr-tools
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utilities for modifying MSRs from userspace
 MSRs are Machine Specific Registers that are used to set values for
 hardware to use, or to pass values between the BIOS and kernel.  This
 package provides utilies to both read and write MSRs.  Reading and
 writing MSRs might be useful when debugging kernel drivers, for example.
